<div class="assessment-menu" data-assessment-menu>
  <button
    class="assessment-menu__trigger"
    type="button"
    id="assessment-menu-trigger"
    aria-haspopup="menu"
    aria-expanded="false"
    aria-controls="assessment-menu-panel"
    data-assessment-menu-trigger
  >
    <span>Assessment</span>
    <span aria-hidden="true">&#9662;</span>
  </button>
  <div
    class="assessment-menu__panel"
    id="assessment-menu-panel"
    role="menu"
    aria-labelledby="assessment-menu-trigger"
    data-assessment-menu-panel
    hidden
  >
    <a role="menuitem" href="{{ url_for('index') }}#saved-assessments">Save</a>
    <a role="menuitem" href="{{ url_for('index') }}#saved-assessments">Open</a>
    <span role="menuitem" aria-disabled="true" title="Portable assessment import is not available yet">Import</span>
    <a role="menuitem" href="{{ url_for('step4', tab='price') }}#scenario-price">Export</a>
  </div>
</div>
